.container {

}
.clear {}

.controls {}
.board {}
.map {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    list-style: none;
    width: min-content;
}
.cell {
    display: block;
    width: 40px;
    height: 40px;
    background: #61dafb;
    text-align: center;
    line-height: 40px;
}
